{% extends '::base.html.twig' %}

{% block body %}
<h2>Layout Blog</h2>

    <section id="left">
    {% block leftcolumn %}
        <div id="recent_articles">
         {# {{ render(controller("HBBlogBundle:Article:recents", {"number": 3})) }} #}
        </div>
        <hr>     
         {{ render(controller("HBBlogBundle:Blog:search")) }} 
    {% endblock %} 
    </section>
    <section id="content">
    {% block content %}{% endblock %}
    </section>
{% endblock %}
