{% extends '::base.html.twig' %}

{% block body %}
<h2>Layout Blog</h2>

    {% block leftcolumn %}
      {#   {{ render(controller("HBBlogBundle:Article:recents", {"number": 3})) }} #}
      
    {% endblock %} 

    {% block content %}{% endblock %}

{% endblock %}