<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body>
    {% block menu %}
        {% include ":blocs:menu.html.twig" %}
    {% endblock %}
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
{% block javascripts %}{% endblock %}
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>
