{% extends 'HBBlogBundle::layout.html.twig' %}

{% block content -%}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form  class="navbar-form pull-right" action="{{ path('login_check') }}" method="post">
        <input type="text" name="_username" value="{{ last_username }}" class="span2" placeholder="login"/>
        <input type="password" name="_password"  class="span2"  placeholder="password" />

        {#
            Si vous voulez contrôler l'URL vers laquelle l'utilisateur est redirigé en cas de succès
            (plus de détails ci-dessous)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit" class="btn">login</button>
    </form>
{% endblock %}