{% extends 'HBBlogBundle::layout.html.twig' %}

{% block content -%}
    <h2>{%  if edition %}Edition{% else %}Création{% endif %} d'un article</h2>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
