<h3>Recents articles</h3>

{% for article in entities %}
    {% if loop.first %} <ul> {% endif %}
        <li>
            <a href="{{ path('article_show', {'id': article.id}) }}">
                {{ article.title }}
            </a>
        </li>
    {% if loop.last %} </ul> {% endif %}
{% endfor %}
